* {
  font-family: sans-serif;
  border-style: none !important;
}

body {
  background-color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  flex-direction: column;
}

.recipe-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-style: solid;
  border-width: thin;
}

.recipe-meta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  border-style: solid;
  border-width: thin;
  border-color: lightgreen;
}

.meta-detail {
  border-style: solid;
  border-width: thin;
  border-color: blue;
}

.recipe-main-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  /* border-style: solid;
  border-width: thin;
  border-color: red; */
}


.recipe-blurb-container{
  margin-right: 4rem;
}

.post-img {
  width: 100%;
  height: auto;
}

.recipe-ingredients-method {
  margin-top:2rem;
  border-style: solid;
  border-width: thin;
  border-color: black;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.recipe-ingredients-container {
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.recipe-method-container {
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.ingredient {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.ingredient-quantity {
  display: flex;
  justify-content: flex-end;
}

.ingredient-name {
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 750px) {

  .recipe-container{
    padding: 0rem 2rem;
  }
  .recipe-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .recipe-meta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 0rem 30rem; */
    justify-items: center;
    border-style: solid;
    border-width: thin;
  }

  .recipe-main-container{
    grid-template-columns: 1fr 1fr;

  }
}
